/*-- scss:defaults --*/

// Currently all of that is in the main scss file

/*-- scss:rules --*/


/* --------------------------------------*/
/* Begin formatting for newsletter components  ------*/
/* --------------------------------------*/

.nl-summary {
  color: black;

}

.nl-qsp-library-news {
  color: black;

}

.nl-qsp-general-news{
  color: black;
 
}

.nl-closing{
  color: blue;
 
}

/* --------------------------------------*/
/* End formatting for newsletter components  ------*/
/* --------------------------------------*/